.main-landing{
	background-image: url('../images/earthbg.jpeg');  
	background-size: cover;
	background-position: center;
    background-color: black;
	padding: 15em;

}

.landing-myButton{
    background: url('../images/boton.png') no-repeat;
    opacity: 0.3;
    cursor:pointer;
    border:none;
    width:550px;
    height:550px;
}

.landing-myButton:hover {
    background: url('../images/boton.png') no-repeat;
    opacity: 1.0;

}

.landing-myButton:active {
    background: url('../images/boton.png') no-repeat;
}